.bg-roxo {
    background-color: #7e4598;
}

a:hover{
    font-weight: bold;
}

.imagem-carousel{
    height: 80vh;
    object-fit: cover;
    object-position: 0 25%;
}


.name_ref{
    text-align: center;
    padding: 10px;
}

a{ 
    color: #7e4598; 
} 

.icones{
    padding: 10px;
}

.linksobre:horver{
    color: #7e4598;
}

button{
    width: 100px;

}

button:hover{
    opacity: .9;
}