.bg-roxo {
    background-color: #7e4598;
}

a:hover{
    font-weight: bold;
}

.img-carousel{
    height: 80vh;
    object-fit: cover;
    object-position: 0 35%;
}

.name_ref{
    text-align: center;
    padding: 50px;
}

a{ 
    color: #7e4598; 
} 

.icones{
    padding: 10px;
}

.linksobre:horver{
    color: #7e4598;
}